<article>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	<h3> <%= @post.title %> </h3>

        	<p> <%= @post.description %> </p>
        </div>
    </div>
</article>

<%#= link_to 'Edit', edit_post_path(@post) %> 
<%#= link_to 'Back', posts_path %>
